/*

!word_ref/
word_ref/*
!word_ref/template.docx
!word_ref/titlepage.docx

!markdown/
markdown/*
!markdown/report.md

!meta/
meta/*
!meta/meta.yaml

!tools/

!README.md
!Makefile
!.gitignore
!.gitmodules
